<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/eventlayout.css" />
<style>
    body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("/img/wedding.jpeg");
}
</style>
<!-- Tab links -->
<div>
<iframe src="/iframes/EventLayout.html" frameborder="0" style="width:1000px; height:850px; background: white;"></iframe>
</div>
