@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("/img/eventplanner.jpeg");
}
</style>
<div class="wrapper">
    <partial name="WelcomeCarousel" />
</div>
<div class="text-center">
    <h1 class="display-4">Planing your project</h1>
    <p>Helping you to achieve your goals.</p>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>